@import '_variables.scss';



/*-----Filtro de productos-------*/
.filtroMenu{
	ul{
		display: inline-flex;
		margin: auto;
		list-style: none;
		
        
		
	}
	li{
		font-size: 1.2em;
		display:inline-flex;
		cursor: pointer;
		margin: 5px;
		
	}
 li.active{
	 color:#dc3545 ;
	 font-style: bold;
	 border-bottom: 4px solid #dc3545;
 }
}




/*--------Contenedores de Productos------------*/

.containers {
	margin: 0px;
	padding: 0.8em;
	@extend %grid;
	div {
		
		display: flex;
		flex-direction: column;
		@extend %center-content;
		text-align: center;
		font-size: 2em;
		align-self: center;
		justify-self: center;
		border:0.5px solid gray;
		background-color: white;
		box-shadow: 10px 5px 10px rgb(158, 145, 145);
		&:hover {
			@extend %hoverimg;
		}
	
	img {
		@include imgsize(280px,300px);
		
	}
	p {
		
		background-color: #dc3545;
		width: 100%;
		margin-bottom:0;
		height: 80px;
		font-size: 0.8em;
		font-style: bold;
		font-family: $roboto;
		align-content: flex-start;
		text-align:start;
		span{
			margin-left: 57%;
			font-size: 1.2em;
		    font-family: $roboto;
		
		
		}

	}
}
}

/*----NOSOTROS---*/
.grid {
	@extend %fontstyle;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 2fr;
	grid-column-gap: 1.2em;
	padding: 0.5em;
	margin: 1.7em;
	border-top: 2px solid black;
	justify-content: center;
	align-items: center;
}
.grid-2 {
	@extend %fontstyle;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 2fr;
	grid-column-gap: 1.2em;
	padding: 0.5em;
	margin: 1.7em;
	border-top: 2px solid black;
	@extend %center-content;
}
.localImg {
	width: 70%;
}
.item-1 {
	&:hover {
		transform: translate(10px, 20px);
		transition: 1s;
	}
	text-align: left;
}
.item-4 {
	&:hover {
		transform: translate(-10px, 20px);
		transition: 1s;
	}
	text-align: right;
}
.item-2 {
	.item-3 {
		align-self: center;
		justify-self: center;
	}
}


/*-------- contacto  ----*/
.contenidoContacto {
	background-color: silver;
	padding-bottom: 2em;
	@extend %fontstyle;
}
.contactoForm {
	display: block;
	margin: auto;
	@extend %fontstyle;
	font-size: 1.1em;
	@extend %center-content;
	text-align: center;
	background-color: rgb(240, 240, 240);
	div {
		display: block;
		padding-top: 0.8em;
		padding-bottom: 0.8em;
	}
}
.mensaje {
	font-size: 1.3em;
}




/* ----- responsive grid --- */

@media screen and (max-width:1115px) {
	.containers {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
	}
	
}
@media screen and (max-width:760px) {
	.containers {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.grid{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		
	}
	.grid-2{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		
	}

}
